.header2 {
  background-color: white;
  margin-top: -10px;
  margin-left: -10px;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  text-align: center;
  
}  
form {
  margin: auto;
  width: 40%;
  padding: 5%;
  
}
.apink {
  color: rgb(255, 0, 234);
}

body {
    background-color: rgb(19, 19, 19);
    font-family: 'Roboto', sans-serif;
    color: white;

  }
  #wrapper {
    margin: auto;
    width: 50%;
    margin-top: 35%;
   
  }
h1 {
    color: rgb(255, 0, 234);
}
.top {
    display: block;
    width: 105%;
    position: relative;
    left: -10px;
    top: -10px;
    right: 0px;
    
}

.kontakt {
   padding-top: 40px;
   padding-right: 50px;
   position: relative;
   width: 30%;
   margin: auto;
   margin-top: -39%;
   background-color: white;
   
  
 
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding-right: 20px;
}
a:hover {
    color:rgb(255, 0, 234);
  }
.profile {
    padding: 50px;
    position: absolute;
    display: block;
    margin-left: 60%;
    margin-top: -170px;
    
}
.list {
    padding: 20px;
    position: relative;
    width: 500px;
    
    
}
footer {
    position: relative;
    float: left;
    background-color: white;
    width: 100%;
    padding: 2%;
    text-align: center;
    margin-left: -10px;
    margin-top:30%;
}
span.a {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid rgb(245, 2, 253);   
    margin-bottom: 20px;
    background-color: rgb(19, 19, 19);
    /*position:relative;*/
}

span.b {
    display: block;
    width: 40%;
    height: auto;
    padding: 2%; 
    margin-top: 20px;
    background-color: rgb(19, 19, 19);
    margin: auto;
}
.aquarelle {
    display: block;
    float:right;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 60px;
    z-index: -10;
  }   

/** Tabell **/


  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    height: 30px;
  }
  th, td {
    padding: 20px;
    text-align: left;
  }
  table, th, td {
    border: 1px solid rgb(255, 0, 234);
  }
 