body {
    padding: 25px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 1em;
    overflow-x: hidden;
  }
  
  .dark-mode {
    background-color: white;
    color: rgb(24, 24, 24);
    
  } 

  .btn-dark {
    background-color: #ec1cff;
  }

  .h2-pink {
    color: #ec1cff;
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    border-radius: 3px;
    border-bottom: 3px solid #ec1cff;
}
.navbar {
    
    margin-left: -2em;
    margin-top: -1.6em;
    margin-right: -2em;
    padding-left: 3em;
    /*padding-right: 3em;*/
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: #ec1cff;
  font-weight: bold;
}

.btn-outline-secondary {
  color: #ffffffc0;
  border-color: #6c757d;
}

.start-image {
    width: 120%;
    height: auto;
    margin-top: -5%;
    margin-left: -15%;
}

.footer {
    margin-top: 5em;
}

.circle {
    border: 2px dotted rgba(213, 17, 193, 0.76);
    border-radius: 50%;
    width: 22vw;
    height: 22vw;
    position: absolute;
    margin-top: -10%;
    margin-left: 5%;
    z-index: -1em;
}

.circle2 {
  border: 2px solid rgba(213, 17, 193, 0.897);
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  position: absolute;
  margin-top: 9%;
  margin-left: -8%;
  z-index: -1em;
}

.circle3 {
  border: 2px dotted rgb(49, 53, 56);
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  position: absolute;
  z-index: -1em;
}

.circle4 {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background: rgba(213, 17, 193, 0.897);
  position: absolute;
  margin-left: -10%;
  margin-top: -10%;
}

.circle-text{
    padding-top: 3em;
}

.card {
    background-color: transparent;
    border: none;
}

/* Featurettes
------------------------- */
.btn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.btn-primary {
  background-color: #ec1cff;
  border-color: #ec1cff;
  margin-top: 5em;
  width: 50%;
}

.btn-primary:hover {
  background-color: #3a3a3a;
  border-color: #1b1b1b;
}

 .featurette-divider {
    margin: 5rem 0; 
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
 
  .amf-center {
    margin-left:33%;
  }
  
  .border {
    border: 1px solid black!important;
 }

  li {
    list-style-type: none;
  }

  .img-shadow{
    box-shadow: 0px 0px 10px 10px rgba(247, 112, 252, 0.692) !important;
  }
  .img-shadow-white {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.801) !important;
  }
  .img-shadow-black {
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.527) !important;
  }

  a {
    color: #ec1cff;
  }

  .parallax {
    /*background-image: url('../images/stonewall.jpg');*/
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.left-area {
  padding-top: 5em;
 
  
}

.right-area {
  background-color: white;
 
}



