html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: larger;
}

body {
    padding: 25px;
    background-color: white;
    color: rgb(24, 24, 24);
    
  }
  
  .dark-mode {
    background-color: rgb(24, 24, 24);
    color: white;
  } 

  .h2-pink {
    color: #46523d;
  }

  .h2-pink-black {
    color: #9edf9b;
  }

  .banner-text {
    color: white;
  }

.nav-name {
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-left: 1em;
  
}

.head-text {
  font-family: 'Yantramanav', sans-serif;
}

  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    border-radius: 3px;
    border-bottom: 1px solid #4a7448;
}

.navbar {
    
    margin-left: -2em;
    margin-top: -1.6em;
    margin-right: -2em;
   
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar {
  padding-bottom: 0px;
}



.nav-item {
  margin-right: 2em;
  font-size: large;
}

.navbar-toggler {
  margin-right: 0.8em;
}

#navbarTogglerDemo01 {
  margin-left: 2em;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: #9edf9b;
  font-weight: bold;
}

.start-image {
    width: 120%;
    height: auto;
    margin-top: -5%;
    margin-left: -15%;
}

.footer {
    margin-top: 5em;
}

.footer-text {
  padding-top: 1.2em;
  font-size:.5em;
}

.circle {
    border: 2px dotted rgba(213, 17, 193, 0.76);
    border-radius: 50%;
    width: 22vw;
    height: 22vw;
    position: absolute;
    margin-top: -10%;
    margin-left: 5%;
    z-index: -1em;
}

.circle2 {
  border: 2px solid rgba(213, 17, 193, 0.897);
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  position: absolute;
  margin-top: 9%;
  margin-left: -8%;
  z-index: -1em;
}

.circle3 {
  border: 2px dotted rgb(49, 53, 56);
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  position: absolute;
  margin-top: 1%;
}

.circle4 {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background: rgba(213, 17, 193, 0.897);
  position: absolute;
  margin-left: -10%;
  margin-top: -10%;
}

.card {
    background-color: transparent;
    border: none;
}

.card-body {
  margin-left: -2em;
}


.btn-dark {
  background-color: #46523d;
  border-style: none;
}

.button .btn-dark > a:hover, .btn-dark > a:focus {
  background-color:#46523d;
}

.btn-outline-secondary {
  color: #ffffffc0;
  border-color: #4a7448;
  margin-top: 0.3em;
  font-size: medium;
}

.btn-outline-light {
  padding: 1em;
  margin-top: 1em;
  
  
  border: none;
  
}



a {
  color: #4a7448;
  
}

/* Featurettes
------------------------- */
.btn a {
  color: white;
  text-decoration: none;
}

 .featurette-divider {
    margin: 5rem 0; 
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
 
  .amf-center {
    margin-left: 33%;
  }
  
  .border {
    border: 1px solid black!important;
 }

  li {
    list-style-type: none;
    
  }

.left-area {
  padding-top: 5em;
}

.right-area {
  background-color: white;
}


.embed-responsive .embed-responsive-item {
  width: 100%; 
  height: 100%;
  
}

.img-splash {
  transform: rotate(10deg);
  margin-top:
  
}



.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.index-image {
 
  
  
}





